<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <p> test3 </p>
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p>{{ site.description }}</p>
    </div>
     
      <a href="https://sethneller.github.io/research.html">Research</a>
      <br/>
      <a href="https://sethneller.github.io/teaching.html">Teaching</a>
     
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
