<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
     
      <img src="headshot-min.JPG" class="user-image center" alt="My Profile Photo">
      
      <h2>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h2>
      <p>{{ site.description }}</p>
    </div>
     
      <a href="https://sethneller.github.io/research.html">Research</a>
      <br/>
      <a href="https://sethneller.github.io/teaching.html">Teaching</a>
      <br/>
      <a href="https://sethneller.github.io/neller_cv.pdf">CV</a>
      <br/>
      <br/>
      <a href="https://twitter.com/sethneller"><img src="twitter.png" class="user-image center"></a> 
    
  </div>
</div>
