<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
     
      <img src="neller_headshot.jpg" class="user-image center" alt="My Profile Photo">
      
      <h2>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h2>
      <p style="font-size:10%;">{{ site.description }}</p>
      
    </div>
     
      <a href="https://sethneller.github.io/research.html">Research</a>
      <br/>
      <a href="https://sethneller.github.io/neller_cv.pdf">CV_</a>
      <br/>
      <a href="https://twitter.com/sethneller">Twitter</a> 
    
  </div>
</div>
